/*
 *  Adapted from Draco HTML Template by @flamekaizar
 */

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  color: #333333;
}

a,
p,
li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em;
}

a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container {
  margin: auto;
  max-width: 70vw;
  padding: 0 20px;
}

.credit {
  position: absolute;
  right: 10px;
  z-index: 1000;
  font-size: 0.7em;
}
.credit p {
  color: white;
}
.credit a {
  color: white;
}

.navbar {
  float: right;
}

.main-nav {
  padding-top: 23px;
  background: rgb(2, 33, 105);
}
.main-nav nav ul li a {
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.2em;
}

.main-nav nav ul li a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  transition: all 0.2s ease-in-out;
}

.main-nav nav ul li.active a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: white;
}

#logo-container {
  position: absolute;
  left: 0;
}

#logo {
  width: 300px;
  margin-left: 15px;
  z-index: 9000;
}

#contact-cv-container {
  position: relative;
}

#cv-button {
  background-color: rgb(2, 33, 105);
  border: none;
  color: white;
  padding: 15px 150px;
  margin: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

iframe {
  height: 100vh;
  width: 100%;
}

#cv-page {
  overflow-y: hidden;
}

.section .container {
  position: relative;
}
.section .container:after {
  position: absolute;
  left: 20px;
}
.section .container h1 {
  margin-bottom: 30px;
  position: relative;
}

.intro {
  padding-top: 3.5%;
  padding-bottom: 0.5%;
  overflow-x: hidden;
}
.intro img {
  width: 260px;
  border-radius: 15px;
}

.intro-text {
  display: flex;
  align-items: center;
  width: 90%;
}

.intro-text p {
  margin-left: 3%;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: left;
}

.name h1 {
  text-align: center;
  font-size: 3em;
}

.contacts {
  text-align: center;
}

#email-label {
  font-size: 1.3em;
  font-weight: bold;
}

.contacts a {
  padding-bottom: 2%;
  font-size: 1.3em;
  font-weight: 900;
  text-decoration: none;
}

#teaching-section {
  margin-top: 30px;
}

.teaching .teaching-list {
  margin-left: 0px;
}
.teaching .teaching-list li:first-child {
  font-size: 0.9375em;
  color: #8c8c8c;
}

#research-section {
  margin-top: 30px;
}

.research .research-list {
  margin-left: 0px;
}

.research .research-list a {
  font-size: 1.15em;
}

#cv-button:hover {
  background-color: rgb(65, 111, 219);
  transition: background-color 0.5s;
}

#cv-div {
  z-index: -1;
}

@media (max-width: 1045px) {
  #logo-container {
    position: relative;
    display: block;
    width: 100%;
  }

  .navbar {
    float: none;
    text-align: center;
  }

  .navbar li {
    text-align: center;
  }

  .intro-text {
    flex-direction: column;
    width: 95%;
  }

  .intro-text p {
    margin-top: 5%;
    text-align: center;
  }

  #intro-container {
    max-width: 100vw;
    padding: 0;
    margin: 0;
  }

  #cv-button {
    padding: 15px 25%;
  }
}
